.content{
  margin: 0 auto;
  width: 90%;
  margin-top: 0px;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
  background-color: #FFFFFF;
  width: 100%;

}

td,tr,th{
  width: 100px;
  height:80px;
}
tr td:nth-child(odd)
{
  width: 133px;
}


.days{
  height: 80px;

}

td{
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.time{
    background-color: #969696;
    border: 1px solid black;
    color: white;
    text-align: center;
}

.exercise
{
  background-color: dodgerblue;
  opacity: 0.5;
}

.talk
{
  background-color: #cd5c5c;
  opacity: 0.5;
}

.highlight{
  opacity: 1;
}

#actual_time{
  position: absolute;
  background-color: yellow;
  width: 5px;
  z-index: 2;
  height: 82px;
}

.table_content{
  position: relative;
}
